header{
    background-color: rgb(105, 105, 105);
    padding: 20px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
#formulario{
    background-color: white;
    margin-top: 10%;
    text-align: center;
    padding: 1%;
    border:2px solid black;
    width: 35%;
    
}
h3{
    text-align: center;
}
input, textarea, button{
    margin-top: 1%;
    margin-bottom: 1%;
}
input[type=text], input[type=email], textarea {
    border: 1px solid gray;
    background-color:#DCDCDC ;
    border-radius: 5px;
    padding: 5px 7px;
}

input[type=text]{
    width: 40%;
}
input[type=text], input[type=email]{
    height: 30px;
}
input[type=email], textarea{
    width: 83%;
}

textarea{
    height: 120px;
    resize: none;
}

button{
    width: 85%;
    height: 40px;
}