@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo:wght@300&family=Oswald:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}
body{
   /* font-family:'PT Sans Narrow', sans-serif;*/
    /*font-family:'Bebas Neue', cursive;*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
header{
    width: 100%; 
                                                     /*NAV*/
}
nav{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-family:'Bebas Neue', cursive;
    color: white;
    padding: 0.5% 1%;
    display: flex;
    margin: 0 2%;
    justify-content: space-between;
    align-items: center;    
}
.logo i{
    color: yellow;
    width: 20px;
    height: 31px;
    margin-left: 5px;
}
.bar-btn i{
    color: #fff;
    margin-right: 25px;
    cursor: pointer;
    font-size: 25px;
}
.bar-btn i:hover{
    color: yellow;
    transition: .3s;
}
.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 10vh;
    background: rgba(0, 0, 0, .95);
    text-align: center;
    transition: all .5s;
}
.nav-menu li{
    display: none;
    font-size: 2.5em;
    padding: 25px;
    margin: 20px 0;
    color: #fff;
    transition: all .5s;
}
.nav-menu li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
.nav-menu li a.active, .nav-menu li a:hover{
    color: yellow;
    transition: .3s;
}
#check{
    display: none;
}
#check:checked ~ .nav-menu{
    height: 100vh;
}
#check:checked ~ .nav-menu li{
    display: block;
}
                                                    /*BODY*/
.content{
    padding: 0 30px;
    margin-top: 150px;
    text-align: center;
    width: 100%;
    height: 53.8vh;
    color:black;
    /*opacity: 0.9;*/
}
.content h1{
    font-size: 50px;
    margin-bottom: 30px;
}
.content h2{
    font-size: 20px;
}
.body-btn a{
    padding: 10px 30px;
    background-color: black;
    color: white;
    border-radius: 15px;
    /*opacity: 0.9;*/
}
.body-btn a:hover{
    color: yellow;
    transition: .3s;
}
footer{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.RRSS{
    text-align: center;
    text-decoration: none;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
}
.RRSS-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.RRSS-container li{
    margin: 10px 15px;
    margin-top: 3px;
}
.RRSS-container li a{
    color: black;
}
#yt:hover{
    color: red;
}
#tw:hover{
    color:#00acee;
}
#f:hover{
    color: #3b5998;
}
#i:hover{
    background:radial-gradient(
        circle at 33% 100%,
        #fed373 4%,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf);
    -webkit-background-clip: text;
    color:transparent;
}

